#addCart{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:#2B317F;
    color:#ffffff;
    font-weight:600;
    font-size: 120%;
    border-radius: 0.2em;
    width: 15em;
    height: 3.8em;
    letter-spacing: 0.28em;
    word-spacing: 0.2em;
    box-shadow: 5px 5px 5px #9cacbe;
    margin:auto; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
