.shoppingcart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
}

#cart{
    font-family: 'IBM Plex Sans', sans-serif;
    color:#ffffff;
    font-weight:600;
    font-size: 100%;
    letter-spacing: 0.28em;
    word-spacing: 0.2em;
    margin: auto; 
    align-items: center; 
    text-align: center;
    max-width: 100%;
    }
    
a:link, a:visited, a:active {
    text-decoration: none;

}

@media screen and (max-width: 420px) {
    #cart {
        font-weight:600;
        font-size: 70%;
        letter-spacing: 0.25em;
        word-spacing: 0.2em;
        margin: auto; 
        align-items: center; 
        text-align: center;
        max-width: 100%;
    }
}